
.background {
  background-image: url(img/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.content {
  background-color: pink;
  padding: 2rem;
}

.cardHover:hover {
  opacity: 0.9;
}
