.background {
  background-image: url(img/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}