/*********************************************/
/*          CUSTOMIZED DEFAULTS         */
/*********************************************/

$body-bg: #7369f7;
$body-color: #af8371;
$light: #20c997; 

@import '../node_modules/bootstrap/scss/bootstrap.scss';

