/*********************************************/
/*                 FONTS                */
/*********************************************/

$font-family-sans-serif: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*********************************************/
/*          CUSTOMIZED DEFAULTS         */
/*********************************************/

$body-bg: #F7F7F7;
$body-color: #141512;
$light: #F7F7F7; 

@import '../node_modules/bootstrap/scss/bootstrap.scss';

/*********************************************/
/*          ADDITIONAL STYLING         */
/*********************************************/

.background {
    background-image: url(.\img\Homepage1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .cardHover:hover {
    opacity: 0.9;
  }